[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
mysql-connector-python = "*"
langgraph = "*"
pinecone = "*"
langchain-pinecone = "*"
firecrawl-py = "*"
langchain = "*"
langchain-openai = "*"
openai = "*"
langchain-community = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"
