faiss-cpu==1.10.0
langchain==0.0.353
langgraph==0.3.31
mysql-connector-python==9.3.0
numpy==2.2.5
openai==1.75.0
orjson==3.10.16
pandas==2.2.3
pinecone==6.0.2
pydantic==2.11.3
python-dotenv==1.1.0
requests==2.32.3
SQLAlchemy==2.0.40
streamlit==1.44.1
tenacity==9.1.2
tiktoken==0.9.0
langsmith==0.1.43      
